@use "sass:map";
@use 'design-token.scss';
@use 'dark-theme.scss';
@use 'light-theme.scss';

@mixin apply-theme($theme) {
  --bg-color: #{map.get($theme, background-color)};

  --red-100: #{map.get($theme, red-100)};
  --red-200: #{map.get($theme, red-200)};
  --red-300: #{map.get($theme, red-300)};
  --red-400: #{map.get($theme, red-400)};
  --red-500: #{map.get($theme, red-500)};
  --red-600: #{map.get($theme, red-600)};
  --red-700: #{map.get($theme, red-700)};

  --orange-100: #{map.get($theme, orange-100)};
  --orange-200: #{map.get($theme, orange-200)};
  --orange-300: #{map.get($theme, orange-300)};
  --orange-400: #{map.get($theme, orange-400)};
  --orange-500: #{map.get($theme, orange-500)};
  --orange-600: #{map.get($theme, orange-600)};
  --orange-700: #{map.get($theme, orange-700)};

  --yellow-100: #{map.get($theme, yellow-100)};
  --yellow-200: #{map.get($theme, yellow-200)};
  --yellow-300: #{map.get($theme, yellow-300)};
  --yellow-400: #{map.get($theme, yellow-400)};
  --yellow-500: #{map.get($theme, yellow-500)};
  --yellow-600: #{map.get($theme, yellow-600)};
  --yellow-700: #{map.get($theme, yellow-700)};

  --green-100: #{map.get($theme, green-100)};
  --green-200: #{map.get($theme, green-200)};
  --green-300: #{map.get($theme, green-300)};
  --green-400: #{map.get($theme, green-400)};
  --green-500: #{map.get($theme, green-500)};
  --green-600: #{map.get($theme, green-600)};
  --green-700: #{map.get($theme, green-700)};

  --blue-100: #{map.get($theme, blue-100)};
  --blue-200: #{map.get($theme, blue-200)};
  --blue-300: #{map.get($theme, blue-300)};
  --blue-400: #{map.get($theme, blue-400)};
  --blue-500: #{map.get($theme, blue-500)};
  --blue-600: #{map.get($theme, blue-600)};
  --blue-700: #{map.get($theme, blue-700)};

  --violet-100: #{map.get($theme, violet-100)};
  --violet-200: #{map.get($theme, violet-200)};
  --violet-300: #{map.get($theme, violet-300)};
  --violet-400: #{map.get($theme, violet-400)};
  --violet-500: #{map.get($theme, violet-500)};
  --violet-600: #{map.get($theme, violet-600)};
  --violet-700: #{map.get($theme, violet-700)};

  --pink-100: #{map.get($theme, pink-100)};
  --pink-200: #{map.get($theme, pink-200)};
  --pink-300: #{map.get($theme, pink-300)};
  --pink-400: #{map.get($theme, pink-400)};
  --pink-500: #{map.get($theme, pink-500)};
  --pink-600: #{map.get($theme, pink-600)};
  --pink-700: #{map.get($theme, pink-700)};
  --text-white: #{map.get($theme, text)};
  --icon: #{map.get($theme, icon)};

  --violet-gradient: #{map.get($theme, violet-gradient)};
  --green-gradient: #{map.get($theme, green-gradient)};
  --blue-gradient: #{map.get($theme, blue-gradient)};
  --orange-gradient: #{map.get($theme, orange-gradient)};
  --red-gradient: #{map.get($theme, red-gradient)};
}
