$colorRedMap: (
  100: #F5ABAB,
  200: #F58787,
  300: #F56262,
  400: #F53D3D,
  500: #CC3333,
  600: #8F2424,
  700: #521414,
);

$colorOrangeMap: (
  100: #F5C4AB,
  200: #F5AB87,
  300: #F59362,
  400: #F57A3D,
  500: #CC6633,
  600: #8F4724,
  700: #522914,
);

$colorYellowMap: (
  100: #F5E9AB,
  200: #F5E287,
  300: #F5DC62,
  400: #F5D018,
  500: #CCAD14,
  600: #A38B10,
  700: #7A680C
);

$colorGreenMap: (
  100: #ABF5DC,
  200: #5AE0B4,
  300: #38E0A8,
  400: #12B880,
  500: #10A372,
  600: #0C7A56,
  700: #085239,
);

$colorBlueMap: (
  100: #ABD0F5,
  200: #87BEF5,
  300: #62ABF5,
  400: #3193F5,
  500: #3380CC,
  600: #24598F,
  700: #153352,
);

$colorVioletMap: (
  100: #B8ABF5,
  200: #9987F5,
  300: #7B62F5,
  400: #5C3DF5,
  500: #4D33CC,
  600: #36248F,
  700: #1F1452,
);

$colorPinkMap: (
  100: #F5ABD0,
  200: #F587BE,
  300: #F562AB,
  400: #F53D99,
  500: #CC3380,
  600: #8F2459,
  700: #521433,
);

$backgroundMap: (
  light: #FAFAFC,
  dark: #0B0B0D,
);
