@import 'design-token.scss';

$light-theme: (
  background-color: map-get($backgroundMap, light),
  red-100: map-get($colorRedMap, 700),
  red-200: map-get($colorRedMap, 600),
  red-300: map-get($colorRedMap, 500),
  red-400: map-get($colorRedMap, 400),
  orange-100: map-get($colorOrangeMap, 700),
  orange-200: map-get($colorOrangeMap, 600),
  orange-300: map-get($colorOrangeMap, 500),
  orange-400: map-get($colorOrangeMap, 400),
  yellow-100: map-get($colorYellowMap, 700),
  yellow-200: map-get($colorYellowMap, 600),
  yellow-300: map-get($colorYellowMap, 500),
  yellow-400: map-get($colorYellowMap, 400),
  green-100: map-get($colorGreenMap, 700),
  green-200: map-get($colorGreenMap, 600),
  green-300: map-get($colorGreenMap, 500),
  green-400: map-get($colorGreenMap, 400),
  blue-100: map-get($colorBlueMap, 700),
  blue-200: map-get($colorBlueMap, 600),
  blue-300: map-get($colorBlueMap, 500),
  blue-400: map-get($colorBlueMap, 400),
  violet-100: map-get($colorVioletMap, 700),
  violet-200: map-get($colorVioletMap, 600),
  violet-300: map-get($colorVioletMap, 500),
  violet-400: map-get($colorVioletMap, 400),
  pink-100: map-get($colorPinkMap, 700),
  pink-200: map-get($colorPinkMap, 600),
  pink-300: map-get($colorPinkMap, 500),
  pink-400: map-get($colorPinkMap, 400),
);
