@import 'design-token.scss';
@import 'dark-theme.scss';
@import 'light-theme.scss';

@mixin apply-theme($theme) {
  --bg-color: #{map-get($theme, background-color)};

  --red-100: #{map-get($theme, red-100)};
  --red-200: #{map-get($theme, red-200)};
  --red-300: #{map-get($theme, red-300)};
  --red-400: #{map-get($theme, red-400)};

  --orange-100: #{map-get($theme, orange-100)};
  --orange-200: #{map-get($theme, orange-200)};
  --orange-300: #{map-get($theme, orange-300)};
  --orange-400: #{map-get($theme, orange-400)};

  --yellow-100: #{map-get($theme, yellow-100)};
  --yellow-200: #{map-get($theme, yellow-200)};
  --yellow-300: #{map-get($theme, yellow-300)};
  --yellow-400: #{map-get($theme, yellow-400)};

  --green-100: #{map-get($theme, green-100)};
  --green-200: #{map-get($theme, green-200)};
  --green-300: #{map-get($theme, green-300)};
  --green-400: #{map-get($theme, green-400)};

  --blue-100: #{map-get($theme, blue-100)};
  --blue-200: #{map-get($theme, blue-200)};
  --blue-300: #{map-get($theme, blue-300)};
  --blue-400: #{map-get($theme, blue-400)};

  --violet-100: #{map-get($theme, violet-100)};
  --violet-200: #{map-get($theme, violet-200)};
  --violet-300: #{map-get($theme, violet-300)};
  --violet-400: #{map-get($theme, violet-400)};

  --pink-100: #{map-get($theme, pink-100)};
  --pink-200: #{map-get($theme, pink-200)};
  --pink-300: #{map-get($theme, pink-300)};
  --pink-400: #{map-get($theme, pink-400)};
  --text-white: #{map-get($theme, text)};
}
